$font-size: 50px;

.example {
  font-size: $font-size;
}

.pokemon-card-background {
  background-image: 'https://i.imgur.com/cN2zlSp.png';
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  z-index: -1;
  top: 0px;
  position: absolute;
  opacity: 0.8;
  left: -60px;
}
