$font-size: 50px;

.example {
  font-size: $font-size;
}
<<<<<<< HEAD
=======

.pokeTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
>>>>>>> 8f9b4136c1c4092c11aca02a8b898cf46bb3e5bf
