// @import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
.pokeID {
  font-family: 'Bangers';
  font-size: 3rem;
  top: -.6rem;
  left: 0rem;
  position: absolute;
  transform: rotate(-30deg);
}



.pokeName {
  font-family: 'Bangers';
  font-size: 1rem;
  text-decoration: underline;
}

.pokeNameWindow {
  font-family: 'Bangers';
  font-size: 2rem;
  text-decoration: underline;
}

.pokemonBackground {
  background-image: url('https://i.imgur.com/cN2zlSp.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  z-index: 0;
  top: 0px;
  position: absolute;
  opacity: 0.5;
  left: -60px;
}

.cardContainer {
  width: 90%;
  display: flex;
  border: 1px dotted black;
  margin: 1rem;
  overflow: hidden ;
  position: relative ;
}

.statsContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: '0px hidden';
  opacity: 0.8;
  height: 100%;
}

.cardContainer:hover {
  .statsContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: '0px hidden';
    opacity: 1;
  }
}

.statsButtonContainer {
  margin: 0px;
  border: 0px none;
  background-color:white;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
}

.statsButtonContainerNone {
  margin: 0px;
  border: 0px none;
  background-color:white;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
}

.statsButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid #ff1a1a;
  background-color: #ff1a1a;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: small;
}

.statsButton:hover {
  background-color: white; /* Green */
  color: #ff1a1a;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 30px 0 rgba(0,0,0,0.19);
}

.HPcolor {
  border-bottom: 1px solid rgb(255, 99, 132);
}
.Attackcolor {
  border-bottom: 1px solid rgb(54, 162, 235);
}
.Defensecolor {
  border-bottom: 1px solid rgb(255, 206, 86)
}
.SpAttackcolor {
  border-bottom: 1px solid rgb(153, 102, 255)
}
.SpDefensecolor {
  border-bottom: 1px solid rgb(75, 192, 192)
}
.Speedcolor {
  border-bottom: 1px solid rgb(153, 102, 255)
}
.Totalcolor {
  border-bottom: 1px solid rgb(255, 159, 64)
}

// .topHalf {
//   background-image: url('https://i.imgur.com/kj6rNQr.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .botHalf {
//   background-image: url('https://i.imgur.com/LhdWrUc.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
//   margin-top: -5px;
// }

td {
  padding: 10px 0.6rem;

}

.modalRow {
  padding: 5px 0.3rem;
}


// .overflowY {
//   overflow-y: auto !important;
//   overflow: scroll;
//   max-height: 1000000px;
//   position: 'relative';
// }

// $label-color: #ccc;
// $toggle-color: #f90;
// $white: #fff;

// // Styles
// .toggle-switch {
//   position: relative;
//   width: 75px;
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   text-align: left;
//   &-checkbox {
//     display: none;
//   }
//   &-label {
//     display: block;
//     overflow: hidden;
//     cursor: pointer;
//     border: 0 solid $label-color;
//     border-radius: 20px;
//     margin: 0;
//   }
//   &-inner {
//     display: block;
//     width: 200%;
//     margin-left: -100%;
//     transition: margin 0.3s ease-in 0s;
//     &:before,
//     &:after {
//       display: block;
//       float: left;
//       width: 50%;
//       height: 34px;
//       padding: 0;
//       line-height: 34px;
//       font-size: 14px;
//       color: white;
//       font-weight: bold;
//       box-sizing: border-box;
//     }
//     &:before {
//       content: attr(data-yes);
//       text-transform: uppercase;
//       padding-left: 10px;
//       background-color: $toggle-color;
//       color: $white;
//     }
//   }
//   &-disabled {
//     background-color: $label-color;
//     cursor: not-allowed;
//     &:before {
//       background-color: $label-color;
//       cursor: not-allowed;
//     }
//   }
//   &-inner:after {
//     content: attr(data-no);
//     text-transform: uppercase;
//     padding-right: 10px;
//     background-color: $label-color;
//     color: $white;
//     text-align: right;
//   }
//   &-switch {
//     display: block;
//     width: 24px;
//     margin: 5px;
//     background: $white;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 40px;
//     border: 0 solid $label-color;
//     border-radius: 20px;
//     transition: all 0.3s ease-in 0s;
//   }
//   &-checkbox:checked + &-label {
//     .toggle-switch-inner {
//       margin-left: 0;
//     }
//     .toggle-switch-switch {
//       right: 0px;
//     }
//   }
//   &.small-switch {
//     width: 40px;
//     .toggle-switch-inner {
//       &:after,
//       &:before {
//         content: "";
//         height: 20px;
//         line-height: 20px;
//       }
//     }
//     .toggle-switch-switch {
//       width: 16px;
//       right: 20px;
//       margin: 2px;
//     }
//   }
//   @media screen and (max-width: 991px) {
//     transform: scale(0.9);
//   }
//   @media screen and (max-width: 767px) {
//     transform: scale(0.825);
//   }
//   @media screen and (max-width: 575px) {
//     transform: scale(0.75);
//   }
// }

.boo {
  border: "0px none"
}

.pokeBackground {
  background-image: url('https://i.imgur.com/GWaMrIz.png');
}