  .miniPokemonSprite{
    width: 50px;
    height: 50px;
  }

  .accordianList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .pokemonTeamBackground {
    width: 200px;
    height: 200px;
    background-image: url(https://www.freeiconspng.com/uploads/pokeball-pokemon-ball-png-images-4.png);
    background-size: cover;
    position: absolute;
  }


// .page3Container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

// .pokeTeam {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
// }

// .typeList {
//   display: flex;
//   justify-content: center;
//   color: white;
//   text-shadow: -1.5px 1px black;
// }




